{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path('app_login') }}" method="post">
        <h5>{{ 'title.please_log_in_to_your_bikepoint_account'|trans }}</h5><br>
        <label for="username">{{ 'label.email'|trans }}:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">{{ 'label.plain_password'|trans }} :</label>
        <input type="password" id="password" name="_password">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit">{{ 'action.login'|trans }}</button>
    </form>
{% endblock %}