{% block body %}
<p>
    <img src="{{ absolute_url(asset('build/app-images/logo_velo.png')) }}" alt="Logo Velo">
</p>
<h1>{{'message.your_account_has_been_created_successfully'|trans}}</h1>
<h2>{{'message.welcome_account'|trans}} {{ user.firstName }} !</h2>
<p>
    {{'message.thank_you_for_registering_with_Bikepoint'|trans}}
</p>
<p>
    {{'message.to_activate_your_account_click_on_the_following_link'|trans}} :
</p>
    <a href="{{ url('app_login') }}">{{'message.click_here_to_activate_your_account'|trans}}</a>
</p>
<p>
    {{'message.if_the_above_link_does_not_work_please_copy_and_paste_the_following_URL_into_your_browser'|trans}} :
    <code>{{ url('app_login') }}</code>
</p>
<p>
    {{'message.fill_your_water_bottles'|trans}}<br>
    {{'message.best_regards'|trans}}<br>
    {{'message.the_Bikepoint_team'|trans}}
</p>
{% endblock %}
