<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ 'title.bikepoint'|trans }}{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22
          viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}{% endblock %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}{% endblock %}
</head>
<body>
<header>
    <section>
        <div class="app-brand">
            <img class="logo-bike" src="{{ asset('build/app-images/logo_velo.png') }}" alt="logoVelo">
            {% if app.user %}
                <a href="{{ path('app_logout') }}" role="button" class="btn btn-secondary btn-sm"
                   id="connect">{{ 'action.logout'|trans }}</a>
            {% else %}
                <a href="{{ path('app_login') }}" role="button" class="btn btn-secondary btn-sm"
                   id="connect">{{ 'action.login'|trans }}</a>
                <a href="{{ path('app_register') }}" role="button" class="btn btn-secondary btn-sm"
                   id="connect-account">{{ 'action.create_account'|trans }}</a>
            {% endif %}
            <h1>{{ 'title.bikepoint_brand'|trans }}</h1>
            <a href="{{ path('homepage') }}">
                <img class="logo-etoile" src="{{ asset('build/app-images/logo_etoile.png') }}" alt="logoEtoile"></a>
        </div>
    </section>
    {% include 'menu.html.twig' %}
    {% include 'flash.html.twig' %}
</header>
<nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}"><i class="fa-solid fa-house"></i></a></li>
        {% block breadcrumb %}
        {% endblock %}
    </ol>
</nav>
<div id="content" class="content-fluid">
    {% block body %}{% endblock %}

    <a href="{{ path('homepage') }}">
        <img class="logo-strava" src="{{ asset('build/app-images/logo_strava.png') }}"
             alt="logoStrava"></a>
</div>
<footer class="copy">
    {{ 'message.footer_copyright'|trans }} {{ 'title.sponsored_by'|trans }}<img class="logo-strava-footer"
                                                                                src="{{ asset('build/app-images/logo_strava.png') }}"
                                                                                alt="logoStrava"> {{ 'now'|date('Y') }}
</footer>
<div id="my_modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
</body>
</html>
