{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('courses') }}">{{ 'menu.courses'|trans }}</a></li>
    {% if course.id %}
        <li class="breadcrumb-item">{{ 'menu.edit'|trans }}</li>
    {% else %}
        <li class="breadcrumb-item active">{{ 'menu.course_add'|trans }}</li>
    {% endif %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {% include 'flash.html.twig' %}
    {% if course.hasImage %}
        <img src="{{ path('courses_image', {'id': course.id}) }}" alt="CourseImage">
    {% else %}
        <p>Pas d'image disponible</p>
    {% endif %}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_rest(form) }}

    <div class="modal-footer">
            <button type="submit" class="btn btn-secondary">{{ course.id ? 'action.save'|trans : 'action.add'|trans }}</button>
        </div>
{% endblock %}
