{% include 'flash.html.twig' %}

{% if crud.paginator %}
    <div class="row">
            {% for course in crud.paginator %}
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="title-user-management">
                        <h4 class="card-title">{{ course.title }}</h4></div>
                    <div class="col">
                        <strong>{{ 'label.zipCode'|trans }}:</strong> {{ course.zipCode }}
                    </div>
                    <div class="col">
                        <strong>{{ 'label.city'|trans }}:</strong> {{ course.city }}
                    </div>
                    <div class="col">
                        <strong>{{ 'label.level'|trans }}:</strong> {{ course.level }}
                    </div>
                    <div class="col">
                        <strong>{{ 'label.distance'|trans }}:</strong> {{ course.distance }} kms
                    </div>
                    <div class="col">
                        <strong>{{ 'label.positiveAscent'|trans }}:</strong> {{ course.positiveAscent }} m
                    </div>
                    <div class="col">
                        <strong>{{ 'label.maximumAltitude'|trans }}:</strong> {{ course.maximumAltitude }} m
                    </div>
                    <div class="col">
                        <strong>{{ 'label.negativeGradient'|trans }}:</strong> {{ course.negativeGradient }} m
                    </div>
                    <div class="col">
                        <strong>{{ 'label.minimumAltitude'|trans }}:</strong> {{ course.minimumAltitude }} m
                    </div>
                    <div class="text-center mt-3">
                        <a href="{{ path('courses_image', {'id': course.id}) }}"><i class="fa-solid fa-eye"></i></a>
                        {% if is_granted('edit', course) %}
                            &nbsp;&nbsp;
                            <a href="{{ path('courses_edit', {'id': course.id}) }}"><i class="fa-solid fa-pen"></i></a>
                        {% endif %}

                        {% if is_granted('delete', course) %}
                            &nbsp;&nbsp;
                            <a href="{{ path('courses_ajax_delete', {'id': course.id}) }}" class="confirm-delete"><i class="fa-solid fa-trash-can"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
            {% endfor %}
    </div>
<div class="text-center mt-4">

    <div class="info-pagination">
        {{ 'pagination_count_results'|trans({'count': crud.paginator.count}) }}<br/>
        {{ 'pagination_indices'|trans({'first': crud.paginator.firstIndice,
            'last': crud.paginator.lastIndice}) }}<br/>
        {{ 'pagination_pages'|trans({'page': crud.paginator.page,
            'lastPage': crud.paginator.lastPage}) }}
    </div>

    {{ crud_paginator_links(crud) }}
{% endif %}
</div>
